// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Syne+Tactile&display=swap');

h1, h2, h3, h4 {
  font-family: 'Syne Tactile', cursive;
}

p {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
}

.article-card {
  margin: 24px;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
